.markdown{
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #eee;
    color: #111;
}

.markColor{
    color: rgb(255, 47, 82);
}

.selectFile{
    height: 40px;
    padding-right: 4em;
    padding-left: 1em;
}


